/* Layout Positioning */
* {
	margin : 0;
	padding : 0;
}

header {
	/* Background Image (Responsive) */
	background-image: url('../img/background.jpg');
	height: 100vh;
	background-size: cover;
	
	/* Text Positioning (Flexbox) */
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.social-media {
	margin-top: 32px;
}

/*
Font Family
*/

h1 {
	font-family: 'Nunito Sans';
	color: #000000;
	font-size: 3em;
}

h2 {
	font-family: 'Nunito Sans';
	color: #000000;
	font-size: 1.5em;
}

/*
Image
*/
a img:hover {
	cursor: pointer;
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
